<h2>Hello World</h2>

<div class="container">
  <h3 class="d-flex justify-content-center">Angular, Web API, SQL Server</h3>
  <h5 class="d-flex justify-content-center">Employee Management Portal</h5>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="nabar-nav">
      <li class="nav-item">
        <button class="m-1 btn btn-light btn-outline-primary" routerLink="department" Button>
          Department
        </button>
      </li>

      <li class="nav-item">
        <button class="m-1 btn btn-light btn-outline-primary" routerLink="employee" Button>
          Employee
        </button>
      </li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>