<div class="form-froup row">
  <label class="col-sm-2 col-form-label">Department name</label>
  <div class="col-sm-10">
    <input *ngIf="dep.DepartmentId==0" type="text" class="form-control" [(ngModel)]="DepartmentName" placeholder="Enter department name">
    <input *ngIf="dep.DepartmentId!=0" type="text" class="form-control" [(ngModel)]="DepartmentName" value="{{dep.DepartmentName}}">
  </div>
</div>
<button (click)="addDepartment()" *ngIf="dep.DepartmentId==0" class="btn btn-primary">Add</button>
<button (click)="updateDepartment()" *ngIf="dep.DepartmentId!=0" class="btn btn-primary">Update</button>